* {
  margin: 0;
  box-sizing: border-box;
  color: var(--text-color);
  scrollbar-color: var(--dark-color) ;

  ::-webkit-scrollbar {
    width: 6px;
  }
  
  ::-webkit-scrollbar-track {
    background: var(--dark-color);
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: var(--text-color);
    border-radius: 10px;
  }
}


#root{
  height:100vh;
  display: flex;
  flex-direction:column;

  &.blurred{
    overflow-y: hidden;

    
    .characters{
      *{
        user-select: none;
        pointer-events: none;
      }
      filter: blur(5px);
    }
  }
}

h1{
  text-align: center;
  color: var(--border-main-color);
}


