.header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: #282623;
  // box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  padding: 0 20px;
  position: fixed;
  justify-content: center;
  z-index: 5;

  &__logo{
    max-width: 150px; 
  }

  &__menuBurguer{
    position: absolute;
    right: 20px;
    cursor: pointer;
  }
}
