.home{
  min-height: 100vh;
  padding-bottom: 20px;
  display:flex;
  flex-direction: column;



  @media(min-width:1024px){
    flex-direction: row;
  }

}

.hero{
  background-color: var(--bg-color);
  width: 100%;
  height: fit-content;
  padding-top: 60px;

  @media(min-width: 1024px){
    margin-left: 250px;
    padding-top: 30px;
    padding-bottom: 20px;
  }
}