.menu {
  &__powerstatsOptions {
  }

  ul {
    list-style: none;
    padding: 0;
  }

  
}

.menu__subBlock {
  margin-top: 10px;
  cursor: pointer;

  &--open{
    &>.menu__infoOptionBlock{
      transition: all .4s;
      max-height: 1000px;
    }
  }
}


.menu__optionBlock {
  margin-top: 10px;
  cursor: pointer;
  
  &--open{
    &>.menu__infoOptionBlock{
      transition: all .4s;
      max-height: 1000px;
    }
  }

}


.menu__title{
  margin: 20px 0;
  padding: 5px 0;
  border-bottom: 1px solid white;
  display: flex;
  justify-content: space-between;
}

.menu__infoOptionBlock{
  max-height: 0;
  overflow: hidden;
  transition: all .4s;
  padding-left: 10px;
}


.button {
  display: flex;
  justify-content: center;
  height: 50px;
  width: 100%;
  color: #fff;
  text-align: center;
  position: relative;
  padding: 15px 0;
  background: #22292f;
  cursor: pointer;



  &:hover{
    &::after{
      position: absolute;
      content: "";
      width: 40%;
      height: 2px;
      bottom: 2px;
      background: var(--border-main-color);
    }
  }

  &--selected{
    &::after{
      position: absolute;
      content: "";
      width: 70%;
      height: 2px;
      bottom: 2px;
      background: var(--border-main-color);
    }
  }

}
