.menu {
  &__powerstatsOptions {
  }

  ul {
    list-style: none;
    padding: 0;
  }

  &__orderButton{
    display: flex;
    align-items: center;
    margin: 35px 0;
    border-bottom: 1px solid white;
    padding: 5px 0;
    cursor: pointer;

    &:hover{
      color: var(--border-main-color);
      border-bottom: 1px solid var(--border-main-color);
    }

    img{
      width: 20;
      height: 20px;
      object-fit: contain;
      margin-left: auto;
      &:hover{
        transform: scale(1.1);
      }
    }
  }


  
}

.menu__subBlock {
  margin-top: 10px;
  cursor: pointer;

  &--open{
    &>.menu__infoOptionBlock{
      transition: all .4s;
      max-height: 500px;
      overflow-y: auto;
    }
  }
}


.menu__optionBlock {
  margin-top: 10px;
  cursor: pointer;
  
  &--open{
    &>.menu__infoOptionBlock{
      transition: all .4s;
      max-height: 1000px;
    }
  }

}


.menu__title{
  margin: 20px 0;
  padding: 5px 0;
  border-bottom: 1px solid white;
  display: flex;
  justify-content: space-between;
  
  &:hover{
    color: var(--border-main-color);
    border-bottom: 1px solid var(--border-main-color);
  }

}

.menu__infoOptionBlock{
  max-height: 0;
  overflow: hidden;
  transition: all .4s;
  padding-left: 10px;
}


.button {
  display: flex;
  justify-content: center;
  height: 50px;
  width: 100%;
  color: #fff;
  text-align: center;
  position: relative;
  padding: 15px 0;
  background: #22292f;
  cursor: pointer;



  &:hover{
    &::after{
      position: absolute;
      content: "";
      width: 40%;
      height: 2px;
      bottom: 2px;
      background: var(--border-main-color);
    }
  }

  &--selected{
    &::after{
      position: absolute;
      content: "";
      width: 70%;
      height: 2px;
      bottom: 2px;
      background: var(--border-main-color);
    }
  }

}

.checkBox{

  // margin: 5px;
  margin: 10px 0;
  margin-left: 5px;
  position: relative;



  &:hover{
    cursor: pointer;
    span{
      color: var(--border-main-color);

      &::before{
        border: 2px solid var(--border-main-color);
      }
    }
    


  }

  span{
    display: flex;
    flex-direction: row;
    align-items: center;
    &::before{

      font-weight: bolder;
      content: '';
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 0;
      border-radius: 2.5px;
      width: 16px;
      height: 16px;
      color: white;      
      border: 2px solid var(--text-color);
      transition: all 0.1s;
      margin-right: 10px;
  
    }
  }


  input{
    display: none;

    &:not(:checked) + span::before{
      -webkit-transform: scale(1) rotate(0);
      transform: scale(1) rotate(0);
    }

    &:checked{
      &+span::before{
          content: "\●";
          color: white;
          font-size: 12px;
          -webkit-transform: scale(1) rotate(180deg);
          transform: scale(1) rotate(180deg);
    
      }
    }
  }


}

