.menu {
  &__powerstatsOptions {
  }

  ul {
    list-style: none;
    padding: 0;
  }

  &__orderButton{
    display: flex;
    align-items: center;
    margin: 25px 0;
    
    &:hover{
      cursor: pointer;
    }

    img{
      width: 20;
      height: 20px;
      object-fit: contain;
      margin-left: auto;
      &:hover{
        // opacity: 0.9;
        transform: scale(1.1);
      }
    }
  }


  
}

.menu__subBlock {
  margin-top: 10px;
  cursor: pointer;

  &--open{
    &>.menu__infoOptionBlock{
      transition: all .4s;
      max-height: 500px;
      overflow-y: auto;
    }
  }
}


.menu__optionBlock {
  margin-top: 10px;
  cursor: pointer;
  
  &--open{
    &>.menu__infoOptionBlock{
      transition: all .4s;
      max-height: 1000px;
    }
  }

}


.menu__title{
  margin: 20px 0;
  padding: 5px 0;
  border-bottom: 1px solid white;
  display: flex;
  justify-content: space-between;
  
  &:hover{
    color: var(--border-main-color);
    border-bottom: 1px solid var(--border-main-color);
  }

}

.menu__infoOptionBlock{
  max-height: 0;
  overflow: hidden;
  transition: all .4s;
  padding-left: 10px;

}


.button {
  display: flex;
  justify-content: center;
  height: 50px;
  width: 100%;
  color: #fff;
  text-align: center;
  position: relative;
  padding: 15px 0;
  background: #22292f;
  cursor: pointer;



  &:hover{
    &::after{
      position: absolute;
      content: "";
      width: 40%;
      height: 2px;
      bottom: 2px;
      background: var(--border-main-color);
    }
  }

  &--selected{
    &::after{
      position: absolute;
      content: "";
      width: 70%;
      height: 2px;
      bottom: 2px;
      background: var(--border-main-color);
    }
  }

}
