

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,500;1,700&display=swap');




:root{
  --bg-color: #1f252b;
  --sub-color: #191c1f;
  --border-main-color: #1bbca9;

  --main-color: #e2b714;
  --caret-color: #e2b714;
  --text-color: #d1d0c5;
  --error-color: #ca4754;
  --error-extra-color: #7e2a33;
  --colorful-error-color: #ca4754;
  --colorful-error-extra-color: #7e2a33;
}
