

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,500;1,700&display=swap');




:root{
  --bg-color: #1f252b;
  --sub-color: #191c1f;
  --dark-color: #131618;
  --border-main-color: #1bbca9;

  --text-color: #d1d0c5;
  --error-color: #ca4754;
}
